@import 'init';
@import 'colors';

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

my-main {
  my-p, about-h-f {
    font-size: 1.2em;
    display: block;
    padding: 1em;
    text-align: center;
    line-height: 1.3em;
  }
}